# Compiled sources #
####################
*.pyc

# Folders #
################
build
dist
*.egg-info
notebooks/.ipynb_checkpoints
data/target

# Files #
################
contest.py
*.swp
README.rst.*

# pycharm and virtualenv folders #
##################################
.idea
venv
