# Compiled sources #
####################
*.pyc

# Folders #
################
build
dist
*.egg-info
notebooks/.ipynb_checkpoints
data/tgt
contest.py
*.swp

# pycharm and virtualenv folders #
##################################
.idea
venv
